body{
    background-color: #313035;
}

.box{
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 2px dashed #ffffff;
}

.blue{
    background-color: #2871dd;
}

.red{
    background-color: #ff345d;
}